<form [formGroup]="resourceForm" *ngIf="resourceForm"> 
    <div class="col-12 head-card page-head ">
        <div class="row align-items-center justify-content-between">
            <div class="col-8">
                <h3 class="card-title common-title mb-0">Change Password</h3>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 common-f-size myCard">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mt-3 each-input-box">
                    <label>Current Password</label>
                    <input formControlName="oldpassword" type="password" class="form-control"
                        placeholder="Enter Current Password">
                    <div *ngIf="submitted == true && f.oldpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldpassword.errors.required">Password is required</div>
                        <div *ngIf="f.oldpassword.errors.maxlength">Password length should be less than or equal to 10
                        </div>
                        <div *ngIf="f.oldpassword.errors.minlength">Password length should be greater than or equal to
                            8</div>
                        <div *ngIf="f.oldpassword.errors.pattern">Password must contain at least one number, one
                            special characters and one uppercase and lowercase letter, and at least 8 or more
                            characters</div>
                    </div>
                </div>
                <div class="col-md-4 mt-3 each-input-box">
                    <label>New Password</label>
                    <input formControlName="password" type="password" class="form-control"
                    placeholder="Enter New Password">
                <div *ngIf="submitted == true && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.maxlength">Password length should be less than or equal to 10
                    </div>
                    <div *ngIf="f.password.errors.minlength">Password length should be greater than or equal to
                        8</div>
                    <div *ngIf="f.password.errors.pattern">Password must contain at least one number, one
                        special characters and one uppercase and lowercase letter, and at least 8 or more
                        characters</div>
                </div>
                </div>
                <div class="col-md-4 mt-3 each-input-box">
                    <label>Confirm Password</label>
                    <input formControlName="confirmPassword" type="password" class="form-control"
                    placeholder="Enter Confirm Password">
                <div *ngIf="submitted == true && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.maxlength">Password length should be less than or equal to 10
                    </div>
                    <div *ngIf="f.confirmPassword.errors.minlength">Password length should be greater than or equal to
                        8</div>
                    <div *ngIf="f.confirmPassword.errors.pattern">Password must contain at least one number, one
                        special characters and one uppercase and lowercase letter, and at least 8 or more
                        characters</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Password does not match</div>
                        
                    </div>
                </div> 
               
            </div>
        </div>
        <div class="col-12">
            <div class="card-footer p-3">
                <div class="each-btn-box d-flex flex-wrap justify-content-end">
                    <!-- *ngIf="this.hideSubmitFromBranchUser == false" -->
                    <a href="#0" class="active">
                        <button class="font-18 font-medium mb-0" (click)="cancel()">Cancel</button>
                    </a>
                    <a href="#0" class="active" >
                        <button class="font-18 font-medium mb-3 mb-md-0 ms-2" (click)="onSubmit()">Submit</button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div> 

</form>
