<section class="career-item-wraper mt-0 p-3">
    <div class="col-md-4 col-sm-8 col-12 get-a-quote-form-wraper">
       <form [formGroup]="forgetPasswordForm">
          <div class="user-login" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">


             <div class="row">
                <div class="col-md-12">
                   <div class="form-grid">
                      <span class="invalid-feedback" *ngIf="!noEmail">{{responseMessage}}</span>
                      <label for="Full Name" class="form-label required">Email </label>
                      <input type="email" placeholder="Email address" formControlName="email" class="w-100 pl-3">

                      <div *ngIf="(f['email'].touched || submitted) && f['email'].errors">
                        <div class="invalid-feedback" *ngIf="f['email'].errors?.['required']">Email is required</div>

                      </div>
                      <span *ngIf="f['email'].errors && (f['email'].touched || f['email'].dirty || submitted)">
                        <span *ngIf="f['email'].errors?.['email'] && f['email'].touched"
                        [ngClass]="{'invalid-feedback': f['email'].errors['email']}">
                          Invalid Email
                        </span>
                      </span>
                   </div>
                </div>
                <div class="col-12">
                   <div class="form-grid">
                      <button type="submit" class="btn otp-btn-new" (click)="sendEmail()">Send OTP</button>
                   </div>
                </div>
                <div class="col-12 mt-3" *ngIf= "this.noEmail">
                   <div class="form-grid">
                      <!-- otp validation start -->
                      <!-- <div class="otp-validation-section active entr-otp">
                         <h4>Enter OTP</h4>
                         <p class="otp-para entr-otp-para">We have sent an OTP to your email</p>
                         <p>{{f['email'].value}}</p>
                         <span class="invalid-feedback">{{otpResponse?.message}}</span>
                         <div class="otp-validation-input d-flex mt-2">
                            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                         </div>
                         <p class="receive-otp otp-para rec-para">Dont receive OTP? <span><a (click)="sendEmail()"
                                  class="res-otp">Resend OTP</a></span></p>
                         <a class="res-psd-btn"><button class="form-common-button" (click)="validateOTP()">Reset my
                               password</button></a>
                      </div> -->
                     
                   </div>
                </div>
             </div>
          </div>
       </form>
    </div>
 </section>
