.input_group_row button{
    height: 100%;
    padding: 5px 15px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input_group_row .button_success{
    background-color: #1e854f; 
    color: white;
}