<form [formGroup]="resourceForm" *ngIf="resourceForm">
    <div class="col-12 head-card page-head ">
        <div class="row align-items-center justify-content-between">
            <div class="col-8">
                <h3 class="card-title common-title mb-0">Category</h3>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 common-f-size myCard">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mt-0 each-input-box">
                    <label>Category Code</label>
                    <input type="text" class="form-control form-control-sm" formControlName="categoryCode"
                        placeholder="Enter Category Code" (change)="changeTextToUppercase('categoryCode')">
                    <div *ngIf="submitted && f['categoryCode'].errors" class="invalid-feedback">
                        <div *ngIf="f['categoryCode'].errors && f['categoryCode'].errors['required']">Category Code is
                            required</div>
                        <div *ngIf="f['categoryCode'].errors && f['categoryCode'].errors['maxlength']">Category Code
                            should be less than 10</div>

                    </div>
                </div>
                <div class="col-md-4 mt-0 each-input-box">
                    <label>Category Name</label>
                    <input type="text" class="form-control form-control-sm" formControlName="categoryName"
                        placeholder="Enter Category Name" (change)="changeTextToUppercase('categoryName')"
                        pattern="[A-Za-z ]*" title="Only alphabetic characters are allowed">
                    <div *ngIf="submitted && f['categoryName'].errors" class="invalid-feedback">
                        <div *ngIf="f['categoryName'].errors && f['categoryName'].errors['required']">Category Name is
                            required</div>
                        <div *ngIf="f['categoryName'].errors && f['categoryName'].errors['maxlength']">Category Name
                            length should be less than 150</div>
                        <div *ngIf="f['categoryName'].errors && f['categoryName'].errors['pattern']">Only alphabetic
                            characters are allowed</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mt-0 each-input-box">
                    <label>Category Image</label>
                    <div class="input-group d-flex">
                        <div class="custom-file">
                            <input type="file" class="form-control custom-file-input form-control-sm" #logoPicker
                                (change)="upload()" />

                        </div>
                        <div class="image-thumb">
                            <a (click)="thumbnailPopup = true"><img [src]="imagePath" alt=""></a>
                        </div>
                    </div>
                    <div *ngIf="imgExtensionWrong == true">Invalid Image
                    </div>

                    <div *ngIf="submitted && f['categoryImage'].errors" class="invalid-feedback">
                        <div *ngIf="f['categoryImage'].errors && f['categoryImage'].errors['required']">Category Image
                            is required</div>
                    </div>
                    <!-- thumbnail popup start-->
                    <div class="view-image-overlay" *ngIf="thumbnailPopup" ngClass="active"
                        (click)="thumbnailPopup = false">
                        <div class="view-image-popup">
                            <a class="close" (click)="thumbnailPopup = false">&times;</a>
                            <div class="content">
                                <img src={{imagePath}} alt="" class="w-100">
                            </div>
                        </div>
                    </div>
                    <!-- thumbnail popup end-->

                </div>

                <div class="col-md-3 mt-0 ps-3 form-group form-check">
                    <label>Is Active</label> <br>
                    <div class="custom-checkbox icheck">
                        <input type="checkbox" formControlName="status" class="mt-2" checked="checked">
                        <span class="checkmark"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card-footer p-3">
                <div class="each-btn-box d-flex flex-wrap justify-content-end">
                    <!-- *ngIf="this.hideSubmitFromBranchUser == false" -->
                    <a href="#0" class="active">
                        <button class="font-18 font-medium mb-0" (click)="cancel()">Cancel</button>
                    </a>
                    <a href="#0" class="active">
                        <button class="font-18 font-medium mb-3 mb-md-0 ms-2" (click)="onSubmit()">Submit</button>
                    </a>

                </div>
            </div>
        </div>
    </div>

</form>