<form [formGroup]="managementForm" *ngIf="managementForm">
  <div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">{{ title }}</h3>
      <button
       *ngIf="!hideCreate"
        class="btn btn-sm btn-info float-right"
        (click)="onCreateClick()"
        mat-mini-fab
        color="primary"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div class="card-body p-0">
      <ag-grid-angular
        style="width: 100%; height: 550px;"
        class="ag-theme-alpine"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="onRowClicked($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</form>
