<div class="row">
  <div class="col-lg-6 searchInput">
      <!-- <div class="form-group">
          <input type="text" placeholder="Try searching">
          <div class="searchicon">
              <img src="assets/images/search.png" alt="">
          </div>
      </div> -->
  </div>
  <div class="col-lg-6 admin-profile">
      
      <div class="notification-icon">
        <div class="notification-i">
          <ul> 
            <li>
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <!-- {{user.name}} -->
                <figure class="mb-0"><img src="assets/images/admin.png" alt=""></figure>
              </a>
              <div class="dropdown-menu logut_dropdown" aria-labelledby="navbarDropdown">
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="col-md-12 ">
                   
                    <ul>
                      <!-- <li>
                        <h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg> {{user.name}}</h4>
                      </li>
                      <li><a class="cursor_pointer" (click)="passwordChange()">Change Password</a></li> -->
                      <li><a class="cursor_pointer" (click)="logout()">Logout</a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </li>

          </ul>

        </div>
      </div>
  </div>
</div>
<!-- <section class="col-12 dash-board-header">
  <div class="row align-items-center">
    <div class="col-lg-1 col-md-1 col-sm-1 col-1 d-xl-none">
      <div class="collapse-menu">
        <div class="menu-bar b-1"></div>
        <div class="menu-bar b-2"></div>
        <div class="menu-bar b-3"></div>
      </div>
    </div> 
    <div  class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-4 d-flex offset-xl-7 offset-lg-3 offset-md-1 offset-sm-0 justify-content-end">
      <div class="notification-icon">
        <div class="notification-i">
          <ul>
            <li> 
            </li>
            <li>
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{user.name}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="col-md-12 p-3">
                   
                    <ul>
                      <li><a class="cursor_pointer" (click)="passwordChange()">Change Password</a></li>
                      <li><a class="cursor_pointer" (click)="logout()">Logout</a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </li>

          </ul>

        </div>
      </div>

      <div class="user-profile d-flex align-items-center"> 
        <div class="user-profile-dropdown">
          <ul>
            <li><a (click)="logout()">Logout</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>  -->