.icon-circle {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}
.ad_row_sec{
    padding: 20px 25px;
    border-radius: 10px;
    background-color: #5e5e5e;
    margin-bottom: 30px;
    margin-top: 10px;
    border: 1px solid #222226;
}
