<form>
<div class="delete-modal-content">
    <p>Do you Want to Delete?</p>
    <div class="col-12">
        <div class="card-footer p-3">
            <div class="each-btn-box d-flex flex-wrap justify-content-center">
                <!-- *ngIf="this.hideSubmitFromBranchUser == false" -->
                <a href="#0" class="active">
                    <button class="font-18 font-medium mb-0" (click)="cancel()">Cancel</button>
                </a>
                <a href="#0" class="active" >
                    <button class="font-18 font-medium mb-3 mb-md-0 ms-2" (click)="onSubmit()">Submit</button>
                </a>
                
            </div>
        </div>
    </div>
</div>
</form>