<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-block mb-4">
                        <h3 class="h3">Buttons</h3>
                        <button type="button" class="app-c-btn app-c-btn--primary">Primary</button>
                        <button type="button" class="app-c-btn app-c-btn--secondary">Secondary</button>
                        <button type="button" class="app-c-btn app-c-btn--success">Success</button>
                        <button type="button" class="app-c-btn app-c-btn--danger">Danger</button>
                        <button type="button" class="app-c-btn app-c-btn--warning">Warning</button>
                        <button type="button" class="app-c-btn app-c-btn--info">Info</button>
                        <button type="button" class="app-c-btn app-c-btn--light">Light</button>
                        <button type="button" class="app-c-btn app-c-btn--dark">Dark</button>

                        <button type="button" class="app-c-btn app-c-btn--link">Link</button>
                        <button type="button" class="app-c-btn app-c-btn--link app-c-btn--link-success">Link</button>
                        <button type="button" class="app-c-btn app-c-btn--link app-c-btn--link-success app-c-btn-no-padding">Link With No Padding</button>
                        <button class="app-c-btn app-c-btn--white">
                            Edit
                        </button>
                        <button type="button" class="app-c-btn app-c-btn--tertiary">Tertiary</button>
                        <button type="button" class="app-c-btn app-c-btn--success-alt">Success</button>
                        <button class="app-c-btn app-btn-round-icon app-c-btn--secondary">
                            <i class="app-icon-add"></i>
                        </button>
                        <button type="button" class="app-c-btn app-c-btn--icon">
                            <i class="app-icon-pencil"></i>
                        </button>
                        <button class="app-c-btn app-c-btn--line">
                            <span>Filter</span>
                            <i class="app-icon-filter"></i>
                        </button> 

                        <button class="app-c-btn app-btn-round-icon--sm app-c-btn--green">
                            <i class="app-icon-tick"></i>
                        </button>
                        <button class="app-c-btn app-btn-round-icon--sm app-c-btn--red">
                            <i class="app-icon-close"></i>
                        </button>
                    </div>
                    <div class="d-block mb-4">
                        <h6 class="h6">Button addon</h6>
                        <button class="app-c-btn app-c-btn--primary app-c-btn--addon">
                            <i class="fas fa-plus"></i>
                            Primary</button>
                        <button class="app-c-btn app-c-btn--secondary app-c-btn--addon">
                            <i class="far fa-user"></i>
                            Secondary</button>
                        <button class="app-c-btn app-c-btn--success app-c-btn--addon">
                            <i class="fas fa-cogs"></i>
                            Default</button>
                        <button class="app-c-btn app-c-btn--white app-c-btn--addon">
                            <i class="app-icon-pencil"></i>
                            <span i18n="@@edit">Edit</span>
                        </button>
                        <button class="app-c-btn app-c-btn--borderless-white app-c-btn--addon">
                            <div class="app-c-checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span class="app-c-checkbox-icon"></span>
                                    <span class="app-c-checkbox-label">Checkbox label</span>
                                </label>
                            </div>
                        </button>
                    </div>
                    <div class="d-block mb-4">
                        <h6 class="h6">Button state</h6>
                        <button type="button" class="app-c-btn app-c-btn--primary" disabled>Disabled</button>
                        <button type="button" class="app-c-btn app-c-btn--primary hover">Hover</button>
                    </div>
                    <div class="d-block mb-4">
                        <h6 class="h6">Button sizes</h6>
                        <button type="button" class="app-c-btn app-c-btn--primary app-c-btn-lg">Large button</button>
                        <button type="button" class="app-c-btn app-c-btn--secondary app-c-btn-lg">Large button</button>

                        <button type="button" class="app-c-btn app-c-btn--primary app-c-btn-sm">Small button</button>
                        <button type="button" class="app-c-btn app-c-btn--secondary app-c-btn-sm">Small button</button>

                        <button type="button" class="app-c-btn app-c-btn--primary app-c-btn-xs">Extra small
                            button</button>
                        <button type="button" class="app-c-btn app-c-btn--secondary app-c-btn-xs">Extra small
                            button</button>
                    </div>
                    <div class="d-block mb-4">
                        <h6 class="h6">Block level buttons</h6>
                        <button type="button"
                            class="app-c-btn app-c-btn--primary app-c-btn-lg app-c-btn-block">Block level
                            button</button>
                        <button type="button"
                            class="app-c-btn app-c-btn--secondary app-c-btn-lg app-c-btn-block">Block level
                            button</button>
                    </div>
                    <div class="d-block mb-4"> 
                        <h6 class="h6">Button group</h6>
                        <div class="app-c-btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="app-c-btn app-c-btn--primary">Left</button>
                            <button type="button" class="app-c-btn app-c-btn--primary">Middle</button>
                            <button type="button" class="app-c-btn app-c-btn--primary">Right</button>
                        </div>
                    </div>
                    <div class="d-block mb-4"> 
                        <div class="app-c-switch">
                            <label>
                                <input type="checkbox">
                                <span class="app-c-switch--circle"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-block mb-4">
                        <h3 class="h3">Forms</h3>
                        <form>
                            <div class="app-l-form-group app-l-form-validation has-error">
                                <label class="app-l-form-label" for="exampleFormControlInput1" i18n="@@emailAddress">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>
                            <div class="app-l-form-group">
                                <label class="app-l-form-label" for="exampleFormControlSelect1">Example select</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="app-l-form-group">
                                <label class="app-l-form-label" for="exampleFormControlSelect2">Example multiple select</label>
                                <select multiple class="form-control" id="exampleFormControlSelect2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="app-l-form-group mb-3">
                                <label class="app-l-form-label" for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="app-c-checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span class="app-c-checkbox-icon"></span>
                                        <span class="app-c-checkbox-label">Checkbox label</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="app-c-switch disabled">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span class="app-c-switch--circle"></span>
                                        <span class="app-c-switch--label">Checkbox label</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="app-c-radio-button">
                                    <label>
                                        <input type="radio" name="optradio">
                                        <span class="app-c-radio-button-icon"></span>
                                        <span class="app-c-radio-button-label">Radio button label</span>
                                    </label>
                                </div>
                            </div>
                            <div class="app-l-form-files">
                                <i class="app-icon-pdf-file"></i>
                                <span>Carrier Info.pdf</span>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Input group</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Recipient's username"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Input group button</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Recipient's username"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="app-c-btn app-c-btn--primary" type="button"
                                            id="button-addon2">Button</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-block mb-3">
                <h3>Modal</h3>
                <button class="app-c-btn app-c-btn--primary" (click)="driverModal.show()">
                    Modal
                </button>
                <div class="modal app-c-modal--driver fade" bsModal #driverModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="dialog-static-name" class="modal-title pull-left" i18n="@@addDriver">Add Driver</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="driverModal.hide()">
                                    <span class="app-icon-close"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="app-l-form-group app-l-form-group--default">
                                    <label class="app-l-form-label" i18n="@@phoneNumber">Phone Number</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="app-c-btn app-c-btn--primary" i18n="@@addDriver">Add Driver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block mb-3">
                <h3>image modal</h3>
                <button class="app-c-btn app-c-btn--primary" (click)="imageModal.show()">
                    Modal
                </button>
                <div class="modal app-c-modal--driver fade app-l-img-modal-wrap" bsModal #imageModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="app-l-modal-close" (click)="imageModal.hide()">
                                <i class="app-icon-close"></i>
                            </div>
                            <!-- <button type="button" class="close pull-right" aria-label="Close" > -->
                            <div class="modal-body app-l-image-holder">
                                <div class="app-l-image-wrapper">
                                    <img src="../../../assets/images/loginbg-land.webp" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block mb-3">
                <h3>Demmurage modal</h3>
                <button class="app-c-btn app-c-btn--primary" (click)="demurrageModal.show()">
                    Modal
                </button>
                <div class="modal app-l-demurrage-modal fade" bsModal #demurrageModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="dialog-static-name" class="modal-title pull-left" i18n="@@detentionAndDemurrageView">Detention and Demurrage View</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="demurrageModal.hide()">
                                    <span class="app-icon-close"></span>
                                </button>
                            </div>
                            <div class="modal-body u-mb0">
                                <div class="app-l-modal-content-wrap">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@warehouseName">Warehouse Name</label>
                                                <span class="app-l-form-data">CRC GA</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@locationName">Location Name</label>
                                                <span class="app-l-form-data">CRC GA</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="app-l-form-group">
                                                <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                                                <span class="app-l-form-data">Crete Carrier</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="app-l-summary-footer">
                                        <div class="app-l-form-group">
                                            <label class="app-l-form-label u-text-bold" i18n="@@totalDetentionCost">Total Detention Cost</label>
                                            <span class="app-l-form-data u-app-theme-text">$500</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block mb-3">
                <h5 i18n>Devextream Component</h5>
                <div class="d-block mb-3">
                    <div class="app-l-form-group">
                        <dx-select-box [items]="simpleProducts"></dx-select-box> 
                    </div>
                </div>
                <div class="d-block mb-3">
                    <div class="app-l-form-group app-l-select--secondary">
                        <dx-select-box [items]="simpleProducts"></dx-select-box> 
                    </div>
                </div>
                <div class="d-block mb-3">
                    <dx-check-box [value]="true" text="Check"></dx-check-box>
                </div>
                <div class="d-block mb-3">
                    <dx-radio-group [items]="priorities" [value]="priorities[0]"></dx-radio-group>     
                </div>
                <div class="d-block mb-3">
                    <div class="app-l-form-group">
                        <dx-date-box  type="date" placeholder="Datepicker"></dx-date-box>
                    </div>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-c-card--secondary">
                    <div class="app-c-card-header">
                        <div class="app-c-card-title">
                            <h3 i18n="@@delivery">Delivery</h3>
                        </div>
                        <div class="app-c-card-controls">
                            <button class="app-c-btn app-c-btn--white app-c-btn--addon app-c-btn-icon">
                                <i class="app-icon-pencil"></i>
                                <span i18n="@@edit">Edit</span>
                            </button>
                        </div>
                    </div>
                    <div class="app-c-card-body" i18n>
                        Some roadways are designated as low-speed zones. These include areas.with high pedestrian traffic, such as school zones and streets lots of intersections close together. Driving over the speed limit can put you and others at risk of harm. 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-block mb-4">
                        <h3 class="h3" i18n>Alerts</h3>
                        <div class="alert alert-primary" role="alert">
                            A simple primary alert—check it out!
                        </div>
                        <div class="alert alert-secondary" role="alert">
                            A simple secondary alert—check it out!
                        </div>
                        <div class="alert alert-success" role="alert">
                            A simple success alert—check it out!
                        </div>
                        <div class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                        <div class="alert alert-warning" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                        </div>
                        <div class="alert alert-light" role="alert">
                            A simple light alert—check it out!
                        </div>
                        <div class="alert alert-dark" role="alert">
                            A simple dark alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-block mb-4">
                        <h3 class="h3" i18n>Badges</h3>
                        <span class="badge badge-primary">Primary</span>
                        <span class="badge badge-secondary">Secondary</span>
                        <span class="badge badge-success">Success</span>
                        <span class="badge badge-danger">Danger</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-info">Info</span>
                        <span class="badge badge-light">Light</span>
                        <span class="badge badge-dark">Dark</span>
                        <span class="badge badge-yellow">Yellow</span>
                        <span class="badge badge-darkblue">Dark Blue</span>
                        <span class="badge badge-light-red">Light Red</span>
                        <span class="badge badge-info-darker">Info Darker</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-block mb-4">
                        <h3 class="h3">Progress bar</h3>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Card title</h5>
                    </div>
                    <div class="card-sub-title">
                        <h6>Card sub title</h6>
                    </div>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="table-responsive">
                    <table class="app-c-table app-c-table--border">
                        <thead>
                            <tr>
                                <th i18n="@@commodity">Commodity</th>
                                <th i18n="@@packaging">Packaging</th>
                                <th i18n="@@qty">Qty</th>
                                <th i18n="@@Weight(lbs)">Weight (lbs)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Raw</td>
                                <td>Pallet</td>
                                <td>4</td>
                                <td>243 (lbs)</td>
                            </tr>
                            <tr>
                                <td>Seed</td>
                                <td>Pallet</td>
                                <td>20</td>
                                <td>423 (lbs)</td>
                            </tr>
                            <tr>
                                <td>Food Grade</td>
                                <td>Bag</td>
                                <td>10</td>
                                <td>756 (lbs)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-l-form__block">
                    <div class="app-l-form__head">
                        <h4 class="app-l-form__block-heading" i18n="@@origin">Origin</h4>
                    </div>
                    <div class="app-l-form__content">
                        <div class="app-l-form-group">
                            <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                            <span class="app-l-form-data">Crete Carrier</span>
                        </div>
                        <div class="app-l-form-group">
                            <label class="app-l-form-label" i18n="@@originAddress">Origin Address</label>
                            <span class="app-l-form-data">Crete Carrier, NewOraleans, LA 70117, USA</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-l-page__steps">
                    <div class="app-l-page-step__block app-l-step--completed">
                        <div class="app-l-page__block-icon">
                            <i class="app-icon-tick"></i>
                        </div>
                        <span class="app-l-step__text" i18n="@@step1">Step 1</span>
                    </div>
                    <div class="app-l-page-step__block app-l-step--current">
                        <div class="app-l-page__block-icon">
                            <i class="app-icon-tick"></i>
                        </div>
                        <span class="app-l-step__text" i18n="@@step2">Step 2</span>
                    </div>
                    <div class="app-l-page-step__block">
                        <div class="app-l-page__block-icon">
                            <i class="app-icon-tick"></i>
                        </div>
                        <span class="app-l-step__text" i18n="@@step3">Step 3</span>
                    </div>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-l-form-group app-l-form-group--fill">
                    <label class="app-l-form-label" i18n="@@appointmentType">Appointment Type</label>
                    <span class="app-l-form-data" i18n="@@delivery">Delivery</span>
                </div>
                <div class="app-l-form-group app-l-form-group--fill">
                    <label class="app-l-form-label" i18n="@@shedulerName">Sheduler Name</label>
                    <span class="app-l-form-data">Crete Carrier</span>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-l-form-group app-l-form-group--default">
                    <label class="app-l-form-label" i18n="@@name">Name</label>
                    <select class="form-control">
                        <option>Option</option>
                    </select>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-c-search-box">
                    <input class="form-control" placeholder="Search Customer" type="text">
                    <button class="app-c-search-button">
                        <i class="app-icon-search"></i>
                    </button>
                </div>
            </div>
            <div class="d-block mb-3">
                <!-- <div class="app-l-form-group app-l-form--datepicker app-l-form-group--default">
                    <input type="text" class="form-control" placeholder="" bsDatepicker [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }" container="app-l-content-base">
                    <button class="app-c-datepicker__button">
                        <i class="app-icon-calendar"></i>
                    </button>
                </div> -->
            </div>
            <div class="d-block mb-3">
                <div class="app-c-table app-c-table--devextreame">
                    <dx-data-grid id="gridContainer" [dataSource]="dataSource" [allowColumnReordering]="true"
                        [showBorders]="true">
        
                        <dxo-paging [enabled]="true"></dxo-paging>
                        <dxo-editing mode="row" [allowAdding]="false">
                        </dxo-editing>
                        
                        <dxi-column [minWidth]="120" dataField="Appt Time"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Appt Type"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Customer"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Status" cellTemplate="status"></dxi-column>
                        <dxi-column dataField="Actions" cellTemplate="actions"></dxi-column>
                        <div *dxTemplate="let d of 'status'">
                            <span class="badge badge-success">Accepted</span>
                        </div>
                        <div *dxTemplate="let d of 'actions'">
                            <div class="app-c-grid-actions">
                                <button type="button" class="app-c-btn app-c-btn--icon">
                                    <i class="app-icon-pencil"></i>
                                </button>
                                <button type="button" class="app-c-btn app-c-btn--icon">
                                    <i class="app-icon-view"></i>
                                </button>
                            </div>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-c-table app-c-table--devextreame app-c-table--controls">
                    <dx-data-grid id="gridContainer" [dataSource]="dataSource" [allowColumnReordering]="true"
                        [showBorders]="true">
        
                        <dxo-paging [enabled]="true"></dxo-paging>
                       
                        
                        <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
                        <dxi-column [minWidth]="120" dataField="Appt Time"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Appt Type"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Customer"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Status" cellTemplate="status"></dxi-column>
                        <!-- <dxi-column dataField="Actions" cellTemplate="actions"></dxi-column> -->
                        <div *dxTemplate="let d of 'status'">
                            <span class="badge badge-success">Accepted</span>
                        </div>
                        <dxi-column [minWidth]="120" [width]="120" type="buttons" caption="Actions">
                            <dxi-button icon="app-icon-save" text=" " name="save"></dxi-button>
                            <dxi-button icon="revert" text=" " name="cancel"></dxi-button>
                            <dxi-button name="edit" text=" " icon="edit"></dxi-button>
                            <dxi-button name="delete" text=" " icon="trash"></dxi-button>
                        </dxi-column>
                    </dx-data-grid>
                </div>
            </div>
            <div class="d-block mb-3">
                <div class="app-c-table app-c-table--devextreame-secondary">
                    <dx-data-grid id="gridContainer" [dataSource]="dataSource" [allowColumnReordering]="true"
                        [showBorders]="true">
        
                        <dxo-paging [enabled]="true"></dxo-paging>
                        <dxo-editing mode="row" [allowAdding]="false">
                        </dxo-editing>
                        
                        <dxi-column [minWidth]="120" dataField="Appt Time"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Appt Type"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Customer"></dxi-column>
                        <dxi-column [minWidth]="120" dataField="Status" cellTemplate="status"></dxi-column>
                        <dxi-column dataField="Actions" cellTemplate="actions"></dxi-column>
                        <div *dxTemplate="let d of 'status'">
                            <span class="badge badge-success">Accepted</span>
                        </div>
                        <div *dxTemplate="let d of 'actions'">
                            <div class="app-c-grid-actions">
                                <button type="button" class="app-c-btn app-c-btn--icon">
                                    <i class="app-icon-pencil"></i>
                                </button>
                                <button type="button" class="app-c-btn app-c-btn--icon">
                                    <i class="app-icon-view"></i>
                                </button>
                            </div>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
            <div class="d-block mb-3">
                <accordion class="app-c-accordion app-c-accordion--default">
                    <accordion-group heading="Customer" [isDisabled]="isFirstDisabled">
                        This content is straight in the template.
                    </accordion-group>
                    <accordion-group heading="Carrier" [isDisabled]="isFirstDisabled">
                        This content is straight in the template.
                    </accordion-group>
                    <accordion-group heading="Appt Type" [isDisabled]="isFirstDisabled">
                        This content is straight in the template.        
                    </accordion-group>
                    <accordion-group heading="Status" [isDisabled]="isFirstDisabled">
                        This content is straight in the template.
                    </accordion-group>
                    <accordion-group heading="Dock Number" [isDisabled]="isFirstDisabled">
                        This content is straight in the template.
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>



