@import "~@ng-select/ng-select/themes/default.theme.css";

@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{ height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  font-family: 'Quicksand', sans-serif;
}

.invalid-feedback{
    display: block !important;
    color: #D8000C;
    font-size: 12px !important;
}
.navbar-nav > .user-menu {
    > .nav-link:after {
      content:none;
    }
    > .dropdown-menu {
    //   @include border-top-radius(0);
      padding: 0;
      border-top-width: 0;
      width: 280px;
  
      &,
      > .user-body {
        // @include border-bottom-radius(4px);
      }
      
      // Header menu
      > li.user-header {
        height: 175px;
        padding: 10px;
        text-align: center;
        // User image
        > img {
          z-index: 5;
          height: 90px;
          width: 90px;
          border: 3px solid;
          border-color: transparent;
          border-color: rgba(255, 255, 255, 0.2);
        }
        > p {
          z-index: 5;
          color: #fff;
          color: rgba(255, 255, 255, 0.8);
          font-size: 17px;
          //text-shadow: 2px 2px 3px #333333;
          margin-top: 10px;
          > small {
            display: block;
            font-size: 12px;
          }
        }
      }
  
      // Menu Body
      > .user-body {
        padding: 15px;
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #dddddd;
        // @include clearfix();
        a {
          color: #444 !important;
        //   @include media-breakpoint-up(sm) {
        //     background: #fff !important;
        //     color: #444 !important;
        //   }
        }
      }
  
      // Menu Footer
      > .user-footer {
        background-color: #f9f9f9;
        padding: 10px;
        // @include clearfix();
        .btn-default {
          color: #666666;
          &:hover {
            // @include media-breakpoint-up(sm) {
            //   background-color: #f9f9f9;
            // }
          }
        }
      }
    }
    .user-image {
      float: left;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: -2px;
    //   @include media-breakpoint-up(sm) {
    //     float: none;
    //     margin-right: 0;
    //     margin-top: -8px;
    //     line-height: 10px;
    //   }
    }
  }
  /* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
.ng-select .ng-select-container {
  min-height: auto;
}
.ng-select.ng-select-single .ng-select-container{
  height:31px;
}

.image-thumb{
  height: auto;
  width: 38px;
  margin-left: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  img{
    max-width: 100% !important;
    margin-top: 0 !important;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  a{
    line-height: 1;
  }
}


/*------------------ Dashboard new style start ----------------*/
$primary_color: #0f1014;
$secondary_color: #15171c;
$text_color: #9a9cae;

.sidebar{
  position: sticky;
  max-width: 240px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0d0e12;
  flex: 0 0 auto;
  height: 100vh;
  border-right: 1px solid #1f212a;
  padding: 20px;
  z-index: 1;
  overflow: auto;
}
.dash-wraper{
  display: flex;
  position: relative;
}
.dashboard-content{
  flex: 1;
  background-color: #d1d1d1;
  min-height: 100vh;
  overflow: auto;
}
.theme-header{
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background-color: #222226;
  border-bottom: 1px solid #222226;
  // box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.15);
  z-index: 1;
}
.dash-logo{
  // border-bottom: 1px solid #1f212a;
  padding-bottom: 20px;
  img{
    max-width: 100%;
    width: auto;
  }
}
.sidebar-menu{
  .accordion-button{
      background-color: transparent !important;
      padding: 10px 10px;
      color: $text_color;
      font-weight: 600;
      font-size: 15px;
      border-bottom: 1px solid #1f212a;
      button{
        border-radius: 0;
      }
    }
    .accordion-header{
      margin-bottom: 0;
    }
    .accordion-button:not(.collapsed){
      border-bottom: 1px solid #1f212a;
      box-shadow: none;
    }
    .countDiv{
      display: none;
    }
}
.accordion-button:focus{
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after{
  transform: rotate(0);
}
.accordion-button:not(.collapsed)::after, .accordion-button::after{
  filter: grayscale(1);
}
.accordion-button::after{
  transform: rotate(0);
}
.dash-logo{
  margin-bottom: 3rem;
}
.subItemIcon{
  display: none;
}
.subItemLabel{
  font-size: 15px;
  color: $text_color;
  padding: 12px 0;
  font-weight: 600;
  display: block;
  cursor: pointer;
  transition: 0.3s ease;
}
.accordion-body{
  padding: 12px 0 0 12px;
}

.dash-footer{
  position: relative;
  padding: 15px 12px;
  background-color: #0d0e12;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #1f212a;
  z-index: 0;
  p{
    margin-bottom: 0;
    color: $text_color;
    font-size: 15px;
    text-align: center;
  }
}
.subList .subItem{
  position: relative;
  padding-left: 15px;
  &::before{
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $text_color;
    left: 0;
    content: '';
    top: 18px;
  }
}
.subItemLabel:hover{
  color: #fff;
}

.dashboard-content{
  // background-image: url('../src/assets/images/bg-dark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top:100px;
  padding-bottom: 40px;
  &::after{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: #0f1014;
    opacity: 0.9;
    z-index: 0;
  }
}
.back-absolute{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.09;
  z-index: 0;
}
.dashboard-content-wraper{
  max-width: 90%;
  margin: auto;
  z-index: 1;
  // min-height: 100vh;
  height: auto;
}
.card-body{
  background-color:#464646;
  padding: 30px;
  border: 1px solid #1e2027;
}
.head-card{
  padding: 0;
  background-color: transparent;
}
.page-head h3{
  color: #fff;
  border-left: 5px solid #db2727;
}
.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container, .ng-select.ng-select-single .ng-select-container{
  background-color: #26272F;
  border: none !important;
  box-shadow: none;
}
.each-input-box label{
  font-size: 15px;
  color: #c5c5c5;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.each-input-box input{
  background-color: #26272F;
  color: $text_color;
  padding: 12px 10px;
  border: 0 !important;
}
.each-input-box input:focus{
  background-color: #26272F;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked, 
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked{
  background-color: #2b2d36;
  color: #fff;
}
.ng-dropdown-panel.ng-select-bottom{
  border: none;
  border-radius: 0;
  background-color: #26272F;
}
.ng-select div, .ng-select input, .ng-select span, .each-input-box input, .dx-datagrid-rowsview .dx-row{
  color: #ddd;
  font-size: 14px;
  font-weight: 600;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #ddd;
}
.each-btn-box button{
  font-size: 15px;
}
.card-footer{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.accordion-button:not(.collapsed)::after, .accordion-button::after{
  filter: grayscale(1);
}
.dx-toolbar, .dx-datagrid{
  background-color: transparent;
}
.dx-header-row{
  background: #3d404e !important;
}
.dx-editor-cell .dx-texteditor, .dx-editor-cell .dx-texteditor .dx-texteditor-input{
  background-color: #26272F;
}
.dx-datagrid-rowsview tbody .dx-row:nth-child(even){
  background-color: #26272F;
}
.dx-datagrid-rowsview .dx-row{
  color: $text_color
}
// .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child{
//   padding: 15px 13px;
// }
.dx-datagrid-rowsview .dx-row td{
  padding: 8px 10px;
  color: #dfdfdf;
}
.dx-datagrid-headers .dx-datagrid-table .dx-row > td{
  padding: 15px 13px;
  font-size: 17px !important;
  font-weight: 800;
  color: #d1d1d1;
}
.dx-header-row td{
  color: $text_color;
  font-size: 16px;
  font-weight: 600;
}
.dx-datagrid-borders > .dx-datagrid-filter-panel, .dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-pager,
.dx-datagrid-borders .dx-datagrid-rowsview, .dx-datagrid-headers + .dx-datagrid-rowsview,
.dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer,
.dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer,
.dx-datagrid .dx-column-lines > td, .dx-texteditor.dx-editor-outlined{
  // border: none;
  border-color: #525151;
}
.dx-texteditor.dx-editor-outlined{
  background: none;
}
.dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-placeholder::before, .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input{
  color: $text_color;
}
.dx-editor-cell .dx-texteditor .dx-texteditor-input{
  padding-top: 10px;
  padding-bottom: 10px;
}
.dx-datagrid-headers{
  margin-top: 1rem;
}


.dx-datagrid-header-panel{
  border-bottom: none;
}
.dx-datagrid-borders .dx-datagrid-rowsview, .dx-datagrid-headers + .dx-datagrid-rowsview,
.dx-datagrid-headers{
  border: none;
}
.dx-datagrid-pager{
  border: none;
}
.dx-datagrid .dx-row > td{
  font-size: 13px !important;
}
.dx-datagrid-filter-row .dx-menu{
  top: 2px;
}
.dx-datagrid-borders > .dx-datagrid-filter-panel, .dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-pager{
  border: none
}
.dx-datagrid-borders .dx-datagrid-rowsview, .dx-datagrid-headers + .dx-datagrid-rowsview, .dx-datagrid-headers{
  border: 1px solid #3a3a3a;
}
.dx-pager .dx-pages .dx-page{
  color: $text_color;
  line-height: 1;
}
.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection{
  color: #000000;
}
.dx-pager .dx-page-sizes .dx-page-size, .dx-pager .dx-pages .dx-info{
  color: $text_color;
}
.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection{
  color: #000000;
}
.dx-pager .dx-pages .dx-next-button, .dx-pager .dx-pages .dx-prev-button{
  color: $text_color;
}
.dx-header-row > td{
  border-right-color: #fff;
}
// .dx-datagrid-headers .dx-datagrid-table .dx-row > td{
//   border-right-color: #fff;
// }

.ng-select.ng-select-opened.ng-select-bottom > .ng-select-container, .ng-select.ng-select-single .ng-select-container{
  height: calc(3em + .75rem + 2px) !important;
}
.each-btn-box.icon-circle a.active button{
  background-color: #26272f !important;
}
.each-input-box {
  margin-bottom: 36px;
}
.header-image-ab{
  position: absolute;
  right: 38px;
  bottom: 0;
  max-width: 250px;
  opacity: 0.3;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #444444;
}
.each-btn-box a.active button{
  background: #464852;
  border: 1px solid #1e2027;
  transition: 0.3s linear;
  &:hover{
    background: #353741;
  }
}
.rpt-btn button{
  height: 48px;
}
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell{
  background: #26272f;
}
.accordion-button::after{
  background-image: var(--bs-accordion-btn-active-icon);
}
.accordion-button:not(.collapsed)::after{
  background-image: var(--bs-accordion-btn-active-icon);
}
input:-internal-autofill-selected {
  background-color: #26272F !important;
  color: #9a9cae !important;
}
img{
  max-width: 100%;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before{
  background: #26272F;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label{
  color: $text_color;
  font-size: 14px;
  padding-left: 30px;
}
[type="radio"]:not(:checked) + label:hover:before{
  background: #393b41;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before{
  border: 1px solid #323232;
}
.report-options{
  label{
      margin-right: 10px;
      margin-bottom: 14px;

      &:last-child{
          margin-right: 0;
      }
  }
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after{
  background: #c3c3c3;
}
.form-control:focus{
  color: $text_color;
}
.dx-button-has-icon .dx-button-content{
  padding: 0;
}
.dx-button{
  padding: 8px;
}
.dx-button-text{
  font-weight: 500;
}
.invalid-feedback {
  color: #999999;
  font-size: 13px !important;
  margin-top: 7px;
  div{
    position: relative;
    &::after{
      content: "*";
        color: red;
        font-size: 21px;
        line-height: 0;
        margin-left: 5px;
        margin-top: 10px;
        position: absolute;
    }
  }
}
label{
  color: #ddd;
}
.dx-datagrid-summary-item{
  color: $text_color;
}
.logut_dropdown li h4, .logut_dropdown li a{
  font-weight: 600;
}
.each-input-box textarea{
  background: #26272F;
  border: none !important;
  color: $text_color;
  font-weight: 600;
  min-height: 120px;
  &:focus{
    background: #26272F;
  }
}
.change-password-modal, .delete-modal, .view-invoice-modal{
  .modal-content{
    background-color: $secondary_color;
  }
}

.modal-title{
    color: $text_color;
}
.modal-header{
    border-bottom: 1px solid #1f212a;
}
.btn-close{
  color: $text_color;
  font-size: 20px;
  outline: none;
  &:hover{
    color: #fff;
  }
}
.delete-modal-content{
  text-align: center;
  padding: 20px;
  p{
    color: $text_color;
    font-size: 16px;
  }
}
.dx-dropdowneditor-icon{
  color: $text_color;
}
.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon, .dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon{
  color: $secondary_color;
}
.each-input-box .form-control::placeholder{
  color: $text_color;
}

@media(max-width: 1600px){
  .each-input-box .form-control, .ng-select.ng-select-single .ng-select-container,
  .ng-select.ng-select-opened.ng-select-bottom > .ng-select-container, .ng-select.ng-select-single .ng-select-container{
    height: 50px !important;
  }
  .ng-select div, .ng-select input, .ng-select span, .each-input-box input, .dx-datagrid-rowsview .dx-row{
    font-size: 13px;
  }
  .each-input-box label{
    font-size: 14px;
  }
  .dx-datagrid-headers .dx-datagrid-table .dx-row > td{
    font-size: 15px !important;
  }
}
.form-control:disabled{
  background-color: #2c2d39;
  cursor: not-allowed;
}
/*------------------ Dashboard new style end -------------------*/

/*------------------ Custom checkbox start ---------------------*/
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  // position: absolute;
  // opacity: 0;
  // cursor: pointer;
  // height: 0;
  // width: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 0;
  z-index: 1;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #26272f;
  border: 1px solid #2b2c30;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #2d2e35;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #26272f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
/*------------------ Custom checkbox end ---------------------*/
.sub-head{
  color: #fff;
  font-family: "Quicksand", sans-serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  margin-bottom: 13px !important;
}
.each-btn-box.icon-circle .blue-btn{
  background-color: #3379c2;
  transition: 0.2s;
  &:hover{
    background-color: #3070b4;
  }
}
.icon-circle button{
  outline: none;
  border: none;
}
.invoice-table{
  .dx-datagrid-headers .dx-datagrid-table .dx-header-row > td{
    padding: 10px 13px !important;
    font-size: 15px !important;
  }
}
.mandatory{
  position: relative;
  &::after{
    content: "*";
    color: #ff4a4a;
    margin-left: 3px;
    font-size: 20px;
    font-weight: 100;
    line-height: 0;
  }
}
.theme-success{
  background-color: #5ca55c !important;
  transition: 0.2s;
  &:hover{
    background-color: #62bd62 !important;
  }
}
.theme-delete{
  background-color: #bd4949 !important;
  transition: 0.2s;
  &:hover{
    background-color: #db5757 !important;
  }
}
.theme-warning{
  background-color: #c78f28 !important;
  transition: 0.2s;
  &:hover{
    background-color: #e1a12d !important;
  }
}
.delete-btn{
    outline: none;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    /* text-decoration: underline; */
    color: #ffffff;
    background: #464852;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
    &:hover{
      background: #595c68;
    }
    span{
      flex-shrink: 0;
      margin-right: 10px;
    }
}

.used-qr-view-modal{
  max-width: 1100px;
  .modal-content{
    border-radius: 30px;
    overflow: hidden;
    background-color: transparent;
  }
}