.modal-header .btn-close{
    background: none;
}
.common-btn button{
    background: #464852;
    border: 1px solid #1e2027;
    border-radius: 20px;
    transition: 0.3s linear;
    &:hover{
        background: #353741;
    }
}