<form [formGroup]="resourceForm" *ngIf="resourceForm">
    <div class="">
        <div style="width : 100%;">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
              </div>
            <!-- <div class="model-head heading d-flex justify-content-between">Reset Password <span (click)="close()"><i
                        class="bi bi-x-lg"></i></span> </div> -->
            <div class="model-body p-4">
                <div class="h-box">
                    <div class="body-h-box">

                        <div class="form-group has-feedback each-input-box" id="password">
                            <label>Enter Password</label>
                            <input type="password" formControlName="password" class="form-control"
                                placeholder="Password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            <div *ngIf="submitted == true && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.maxlength">Password length should be less than or equal to 20
                                </div>
                                <div *ngIf="f.password.errors.minlength">Password length should be greater than or equal to
                                    8</div>
                                <div *ngIf="f.password.errors.pattern">Password must contain at least one number, one
                                    special characters and one uppercase and lowercase letter, and at least 8 or more
                                    characters</div>
                            </div>
                        </div>

                        <div class="login-btn-container d-flex align-items-center mt-4">
                            <a class="common-btn w-100" (click)="onSubmit()"><button
                                    class="font-medium w-100">SUBMIT</button></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>